### Python basics

In [3]:
1+2

3

In [4]:
4%2

0

In [5]:
5//2

2

In [6]:
type(4/2)

float

In [7]:
type(5)

int

In [8]:
type('niksss')

str

In [11]:
##boolean operations
True or False

True

In [12]:
type(True and True)

bool

In [ ]:
### strings

In [13]:
type('krish')

str

In [17]:
str1="a good boy"
str2="a bad boy"

In [18]:
str1+str2

'a good boya bad boy'

In [21]:
str1+" "+str2

'a good boy a bad boy'

In [23]:
name=input("enter your name ?")
print(name)

enter your name ?nikss
nikss

In [25]:
## add two numbers
a = input("enter first number?")
b = input("enter second number?")
c = int(a)+int(b)
print("the output is",c)

enter first number?98
enter second number?99
the output is 197

In [26]:
## string formatting
first_name = input("what is your first name?")
last_name = input("what is your last name?")
print("my first name is {} and last name is {}".format(first_name,last_name))

what is your first name?nikhil
what is your last name?budhiraja
my first name is nikhil and last name is budhiraja

# variable dynamic typing

In [ ]:
##we dont have to tell the type ....automatically knows what is float what is int

In [27]:
a=10
type(a)

int

In [29]:
a='krish'
type(a)

str

In [ ]:
##strong typing

In [30]:
'krish'+ '1'

'krish1'

In [31]:
1 + int("2")

3

In [ ]:
##conditional statements
##if and elif

In [32]:
a = int(input("enter the number1?"))
b = int(input("enter the number2?"))
c= a-b
print("the output of sub is",c)
if c<0:
    print("the number is negative")
elif c>40:
    print("the difference is huge")
else:
    print("the number is positive")

enter the number1?90
enter the number2?50
the output of sub is 40
the number is positive

## data structures 
1. list
2. tuple
3. string
4. dictionary
5. sets

In [ ]:
##list
##list is always in square bracket

In [59]:
lst1= [1,2,3,"nikhil","budhiraja"]

In [40]:
lst

[1, 2, 3, 'nikhil', 'budhiraja']

In [41]:
lst[3]

'nikhil'

In [42]:
lst[0]

1

In [50]:
##append the list
lst1.append("niks")

In [60]:
print(lst1)

[1, 2, 3, 'nikhil', 'budhiraja']

In [61]:
lst1[2]="data science"

In [62]:
print(lst1)

[1, 2, 'data science', 'nikhil', 'budhiraja']

In [64]:
lst1.append("nikhil")
lst1

[1, 2, 'data science', 'nikhil', 'budhiraja', 'nikhil']

In [65]:
##to count the values
lst1.count("nikhil")

2

##indexing